.cont {
  background-image: url(./imgs/wallpapa.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.para {
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn {
    padding: 0.6rem 4rem;
    font-weight: 700;
}

.paragra {
   background-color: #ffffff3b;
   padding: 0.6rem;
   width: fit-content;
}

@media(max-width: 769px) {
  .para {
    font-size: 1rem;
    left: 8%;
  }

  .btn {
    padding: 0.6rem 1rem;
    font-weight: 700;
  }

  .paragra {
    padding: 0.2rem;
  }
}
