.logoSec {
    height: 50vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-title {
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
}

.img-logo{ 
    width: 90%;
}

.logo2 {
    width: 10%;
    height: 15%;
}

.mypartnerss {
    width: 80%;
    margin: 0 auto;
}