.mylogo {
    width: 18%;
    height: 18%;
}

#responsive-navbar-nav {
    padding: 0.6rem;
    width: 50%;
}

.Nav-container {
    margin-right: -1rem;
}

.nav-items {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin: 0.5rem;
}

@media(max-width: 769px){
    .navbar > .container {
      display: block;
    }

    .mylogo {
        width: 30%;
        height: 30%;
        margin-right: 25%;
    }
}