.main-container {
    width: 80%;
    height: 100vh;
}

.wecode-title {
    margin: 6rem 0 0.6rem 0;
    height: 9rem;
    border-left: 9px solid red;
}

.about {
   padding-top: 1rem;
   font-size: 1.3rem;
}

.wecode {
    font-size: 3rem;
}

.about, .wecode{
  margin-left: 1.3rem;
  font-weight: 700;
}

.power {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.power-word {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.vid {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.achive-year {
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 1.3rem;
}

@media(max-width: 769px) {
    .wecode-title {
        margin: 1rem 0 0.6rem 0;
        height: 3rem;
        border-left: 7px solid red;
    }

    .about {
        padding-top: 0.1rem;
        font-size: 0.8rem;
     }
     
    .wecode {
        font-size: 1rem;
    }

    .power-word {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .power {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .achive-year {
        font-weight: 500;
        line-height: 1.2rem;
        margin-bottom: 0.4rem;
    }
     
  }
  