* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
 text-align: center;
 background-color: #008080; 
 border-radius: 10px;
 margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #000;
}

input {
  margin: 2rem 0;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  box-shadow: 5px 6px 25px darkgray;
  width: 35%;
}

.data {
  width: 20%;
  padding: 0.5rem;
  color: #fff;
  margin: 0 auto;
}

span {
  color: pink;
  font-size: 10px;
}

.data h3 {
  font-size: 17px;
}